<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pabokothay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pabo Kothay"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaboKothay">
        <activity android:name=".Sports_Stuff_Search"></activity>
        <activity android:name=".popUp" />
        <activity android:name=".book_search" />
        <activity android:name=".new_shop_account" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInPage" />
        <activity android:name=".area_details" />
        <activity android:name=".newAccount" />
        <activity android:name=".profile" />
    </application>

</manifest>